.search {
    width: 100%;
    background-color: white;
    height: 30px;
    display: flex;
    border-radius: 2px;
  }


.search__input {
    border: 0px;
    width: 100%;
    padding: 7px 60px 9px 15px;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
}

.search__icon {
    color: #585858;
    font-size: 15px;
}


.search__button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #ebebeb;
    padding: 7px 5px 9px 5px;
    border: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}